{% load static %}
<div class="pagina-inicial">
    <header class="cabecalho">
        <img src="{% static 'assets/logo/logo1.png' %}" alt="Logo do NIAS-IA" />

        {% for message in messages %}
            <div class="alert alert-primary">
                <p id="messages">{{ message }}</p>
            </div>
        {% endfor %}
    </header>
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'index' %}"><img src="{% static 'assets/ícones/1x/Home - inativo.png' %}"> Home</a>
                <a href="{% url 'login' %}"><img src="{% static 'assets/ícones/1x/Mais vistas - inativo.png' %}"> Login</a>
                <a class="pagina__ativa" href="{% url 'cadastro' %}"><img src="{% static 'assets/ícones/1x/Novas - ativo.png' %}"> Cadastrar</a>
            </nav>
        </section>