{% load static %}
<div class="pagina-inicial">
    <header class="cabecalho">
        <img src="{% static 'assets/logo/logo1.png' %}" alt="Logo do NIAS-IA" />

        {% for message in messages %}
            <div class="alert alert-primary">
                <p id="messages">{{ message }}</p>
            </div>
        {% endfor %}
    </header>
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a class="pagina__ativa" href="{% url 'index' %}"><img src="{% static 'assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                <a href="{% url 'enviar_codigo' user.id %}"><img src="{% static 'assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Enviar código</a>
                <a href="{% url 'index_codigo' %}"><img src="{% static 'assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Código enviado</a>
                <a href="{% url 'logout' %}"><img src="{% static 'assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Logout</a>
            </nav>
        </section>