{% extends 'shared/base-usuario.html' %}
{% load static %}
{% block content %}

<section class="galeria" style="margin-left: 5em">
    <div class="form-container">
        <div class="row">
            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                <label class="user-data" style="color:#D9D9D9; margin-bottom: 5px;">Username</label>
                <div class="user-data-box">
                    <p>{{ user.username }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                <label class="user-data" style="color:#D9D9D9; margin-bottom: 5px;">First Name</label>
                <div class="user-data-box">
                    <p>{{ user.first_name }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                <label class="user-data" style="color:#D9D9D9; margin-bottom: 5px;">Last Name</label>
                <div class="user-data-box">
                    <p>{{ user.last_name }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                <label class="user-data" style="color:#D9D9D9; margin-bottom: 5px;">Email</label>
                <div class="user-data-box">
                    <p>{{ user.email }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-12" style="margin-top: 20px; text-align: center;">
                <div style="display: inline-block;">
                    <a href="{% url 'editar_senha' %}">
                        <button class="btn btn-primary col-12" style="margin-bottom: 10px; max-width: 350px;"> <!-- Aumenta a largura dos botões -->
                            <span style="color: white;">Editar Senha</span>
                        </button>
                    </a>
                    <a href="{% url 'editar_usuario' user.id %}">
                        <button class="btn btn-success col-12" style="margin-bottom: 10px; max-width: 350px;">Editar</button>
                    </a>
                    <a href="{% url 'deletar_usuario' user.id %}" onclick="return confirm('Tem certeza que deseja deletar este usuário?');">
                        <button class="btn btn-danger col-12" style="max-width: 350px;">Deletar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}