{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static 'assets/imagens/banner.png' %}" alt="banner NIAS-IA">
                    <h1 class="banner__titulo"> Participe da competição de Poker!</h1>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pelo site</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                                {% for fotografia in cards %}
                                    <li class="card">
                                        <a href="{% url 'imagem' fotografia.id %}">
                                            {% if fotografia.foto == '' or fotografia.foto == null %}
                                                <img class="card__imagem" src="{% static 'assets/imagens/galeria/not-found.png' %}" alt="foto">
                                            {% else %}
                                                <img class="card__imagem" src="{{ fotografia.foto.url }}" alt="foto">
                                            {% endif %}
                                        </a>
                                        <div class="card__info">
                                            <p class="card__titulo">{{ fotografia.nome }}</p>
                                            <div class="card__texto">
                                                <p class="card__descricao">{{ fotografia.legenda }}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <div class="imagem__texto">
                                    <p>Pesquisa não retornou nenhum resultado</p>
                                </div>
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}