{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/banner1.png' %}" alt="banner NIAS-IA">
                    <h1 class="banner__titulo"> Participe da competição de Poker!</h1>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pelo site</h2>
                        <ul class="cards__lista">
                            <li class="card">
                                <a href="{% url 'imagem' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/ranking (1).png' %}" alt="foto">
                                </a>
                                <div class="card__info">
                                    <p class="card__titulo">Ranking</p>
                                </div>
                            </li>
                            <li class="card">
                                <a href="{% url 'imagem' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/regras.png' %}" alt="foto">
                                </a>
                                <div class="card__info">
                                    <p class="card__titulo">Regras</p>
                                </div>
                            </li>
                            <li class="card">
                                <a href="{% url 'imagem' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/comoJogar1.png' %}" alt="foto">
                                </a>
                                <div class="card__info">
                                    <p class="card__titulo">Como jogar?</p>
                                </div>
                            </li>
                            <li class="card">
                                <a href="{% url 'imagem' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/jogar.png' %}" alt="foto">
                                </a>
                                <div class="card__info">
                                    <p class="card__titulo">Jogar</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}