{% extends 'shared/base-index-codigo.html' %}
{% load static %}
{% block content %}

    {% if data %}
    <div class="table-container">
        <h2 class="cards__titulo">Resultados</h2>
        <table class="score-table">
            <thead>
                <tr>
                    <th>Jogador</th>
                    <th>Pontuacao</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row.Jogador }}</td>
                        <td>{{ row.Pontuacao }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>     
    {% endif %}
{% endblock %}